<div id="book-title-wrapper">
  <%= link_to book_path(@book) do %>
    <div id="book-title">
      <h1><%= @book.title %></h1>
      <h2><%= @book.description %></h2>
    </div>
  <% end %>
</div>

<%= render 'book-form', book: @book %>
