#diain-logo {
  position: absolute;
  right: var(--block-space);
  top: var(--block-space);

  @media (max-width: 70ch) {
    position: relative;
    right: unset;
    top: unset;

    display: flex;
    justify-content: center;
  }

  display: grid;
  font-size: var(--font-x-small-responsive);

  :is(a) {
    font-family: var(--font-sans);
    color: var(--color-ink);
    text-decoration: none;
    font-weight: bold;
    padding: .5rem;

    border-radius: 10px;

    &:hover {
      background: var(--color-subtle-dark);
    }
  }

  .diarin-name {
    font-size: var(--font-medium-responsive);
  }
}
