#articles {
  display: grid;
  justify-content: center;

  .article {
    font-family: var(--font-mincho);
    font-size: .85rem;
    line-height: 1.5rem;
    letter-spacing: .12em;

    padding: 2rem 1rem;
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .article__title{
      font-weight: normal;
      font-size: 1.5rem;

      margin: 0;
      padding-bottom: .2rem;
      border-bottom: 1px dotted var(--color-ink);
    }

    .article__body {

      :is(img), :is(iframe) {
        max-width: 80ch;
        max-height: 20rem;

        border: none;
      }

      .twitter-tweet, .instagram-media {
        margin-top: 1rem !important;
        min-width: 20% !important;
        max-width: 50ch !important;
      }
    }

    .article__action-buttons {
      margin-top: 2rem;

      display: flex;
      flex-direction: row;
      gap: .5rem;

      :is(a) {
        font-size: .75rem;
        text-transform: uppercase;
        color: var(--color-ink);
        cursor: pointer;
        text-decoration: none;

        padding: 0 0 0 .1rem;

        border-bottom: 1px solid var(--color-ink);

        &:hover {
          color: var(--color-link);
          border-bottom: 1px solid var(--color-link);
        }
      }
    }
  }
}
