#book-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  :is(a) {
    text-decoration: none;
    color: var(--color-ink);
  }

  #book-title {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    max-width: 20rem;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid var(--color-ink);
    transition: var(--hover-transition);

    @media (max-width: 70ch) {
      margin: 0;
    }

    &:hover {
      background: var(--color-subtle-dark);
    }

    :is(h1, h2) {
      display: inline;
      margin: 0;
    }

    :is(h1) {
      font-size: var(--font-x-large-responsive);
      border-bottom: 1px solid var(--color-ink);
      font-weight: 400;
    }

    :is(h2) {
      font-size: var(--font-x-small-responsive);
      font-weight: 400;
    }
  }
}
