#books {
  h1 {
    text-align: center;
  }

  .book-list {
    --gap: clamp(var(--inline-space), 2cqi, calc(var(--inline-space) * 3));
    --hover-size: 0;

    display: grid;
    justify-content: center;

    gap: var(--block-space) var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(max(150px, 14cqi), 1fr));

    padding: var(--gap);

    .book-list__item {
      position: relative;
      margin-inline: auto;

      margin: 0;

      .book-list__item__link {
        border-radius: 10px;

        &:hover {
          .book {
          background: var(--color-subtle);
          }
        }

        &:active {
          .book {
            opacity: 0.8;
          }
        }
      }
    }

    .book {
      --color-ink-book-cover: var(--color-ink);
      --color-bg-book-cover: var(--color-subtle-light);
      --outline-color: var(--color-subtle-dark);

      outline: 1px solid var(--outline-color);
      color: var(--color-ink-book-cover);
      background: var(--color-bg-book-cover);
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;

      font-size: var(--font-small-responsive);

      /* 480 x 640 */
      max-width: 20rem;
      aspect-ratio: 3 / 4;

      :is(h2, p) {
        margin: 0;
        padding: 0;
      }

      :is(h2) {
        font-size: var(--font-large-responsive);
        display: inline;
      }

    }
  }

  /* ======== show ======== */

  .book-first-view {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    /* width: 300px; */

    gap: var(--block-space);
    padding: var(--block-space);

    .book-first-view__item {
      padding: var(--block-space);
      border: 1px solid var(--color-ink);
      border-radius: 10px;
    }
  }

  .main-contents {
    display: grid;
    gap: var(--block-space);
    grid-template-columns: minmax(300px, 1fr);
    max-width: 50rem;
  }

  .sidebar-contents {
    display: grid;
    gap: var(--block-space);
    grid-template-columns: minmax(300px, 1fr);
  }

  .article {
    .article__title {
      text-align: left;
      font-size: 1.2rem;

      :is(a) {
        display: block;
        text-decoration: none;
        color: var(--color-ink);

        &:hover {
          background: var(--color-subtle-dark);
        }
      }
    }

    .article__meta, .article__action-buttons {
      margin: 0;
    }
  }

  .article-list {
    min-width: clamp(300px, 50%, 100%);

    font-family: var(--font-mincho);
    display: flex;
    flex-direction: column;
    gap: .5rem;

    font-size: var(--font-small-responsive);

    border: 1px solid var(--color-ink);
    border-radius: 10px;
    padding: var(--block-space);

    .article-list__item {
      .article-list__item__link {
        background: var(--color-subtle-dark);
        &:hover {
          font-weight: bold;
          box-shadow: none;

          /* ↓I don't know why but it doesn't work */
          background: var(--color-subtle-dark);

          .article-list__item__line {
            background: var(--color-subtle-dark);
          }
        }
      }
    }

    .article-list__item__line {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin: 0;
      background: var(--color-subtle-light);
      color: var(--color-ink);

      border-bottom: 1px dotted var(--color-ink);

      .article-list__item__title {
        min-width: 20rem;
        @media (max-width: 70ch) {
          min-width: 10rem;
        }
      }

      .article__published-at {
        white-space: nowrap;
      }
    }
  }

  .manage-field {
    font-size: var(--font-x-small-responsive);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

    .manage-field__button {
      cursor: pointer;
      font-family: var(--font-mono);

      padding: .5rem 1rem;
      border: 1px solid var(--color-ink);
      border-radius: 10px;
      background: var(--color-bg);
      color: var(--color-ink);

      &:hover {
        background: var(--color-subtle-dark);
      }
    }
  }

  .search-field {
    font-size: var(--font-x-small-responsive);
    font-family: var(--font-mono);

    .search-field__form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  .year-month-list {

    display: flex;
    flex-direction: column;
    gap: .1rem;

    .year-month-list__title {
      display: inline-flex;
      font-family: var(--font-mono);
      font-size: var(--font-small-responsive);
      padding: 0;

      :is(a) {
        color: var(--color-ink);
        text-decoration: none;

        &:hover {
          font-weight: bold;
          background: var(--color-subtle-dark);
        }
      }

      &:not(:first-child) {
        margin-top: var(--block-space);
      }

      &.year-month-list__title--selected {
        font-weight: bold;
      }
    }

    .year-month-list__item {
      display: inline-flex;

      margin: 0;
      border-bottom: 1px dotted var(--color-ink);

      :is(a) {
        font-size: var(--font-x-small-responsive);
        font-family: var(--font-mono);
        color: var(--color-ink);
        text-decoration: none;
        /* padding: 0 .5rem;
        border-radius: 10px; */

        &:hover {
          /* font-weight: bold; */
          background: var(--color-subtle-dark);
        }
      }

      &.year-month-list__item--selected {
        font-weight: bold;
      }
    }
  }
}
