#books {
  h1 {
    text-align: center;
  }

  .book-list {
    --gap: clamp(var(--inline-space), 2cqi, calc(var(--inline-space) * 3));
    --hover-size: 0;

    display: grid;
    gap: var(--block-space) var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(max(150px, 14cqi), 1fr));
    padding: var(--gap);

    .book-list__item {
      position: relative;
      display: inline-flex;
      margin-inline: auto;

      .book-list__item__link {
        border-radius: 10px;
        content: "";
        inset: 0;
        position: absolute;
        z-index: 1;

        &:hover {
          background: var(--color-subtle-dark);
          opacity: 0.5;
        }
      }
    }

    .book {
      --color-ink-book-cover: var(--color-ink);
      --color-bg-book-cover: var(--color-subtle-light);
      --outline-color: var(--color-subtle-dark);

      outline: 1px solid var(--outline-color);
      color: var(--color-ink-book-cover);
      background: var(--color-bg-book-cover);
      border-radius: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;

      /* 480 x 640 */
      width: 20rem;
      aspect-ratio: 3 / 4;

      :is(h2, p) {
        margin: 0;
        padding: 0;
      }

      :is(h2) {
        display: inline;
      }

    }
  }

  /* ======== show ======== */

  #book-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #book-title {
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: .2rem;

      max-width: 20rem;
      border-radius: 10px;
      margin: 1rem 0;
      padding: 1rem 2rem;
      border: 1px solid var(--color-ink);

      :is(h1, h2) {
        display: inline;
        margin: 0;
      }

      :is(h1) {
        border-bottom: 1px solid var(--color-ink);
      }

      :is(h2) {
        font-size: .8rem;
        font-weight: 400;

        /* color: var(--color-subtle-dark); */
      }
    }
  }

  .article-list{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    border: 1px solid var(--color-ink);
    border-radius: 10px;
    padding: 1rem;

    .article-list__item {
      .article-list__item__link {
        &:hover {
          font-weight: bold;
          box-shadow: none;

          .article {
            /* background: var(--color-subtle-dark); */
          }
        }
      }
    }

    .article {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin: 0;
      background: var(--color-subtle-light);
      color: var(--color-ink);

      border-bottom: 1px dotted var(--color-ink);
    }
  }
}
