#random_articles {
  display: grid;
  justify-content: center;

  .article__content {
    .article__content__title__date {
      font-size: var(--font-x-small-responsive);
      text-wrap: nowrap;
    }
  }
}
