#users {
  .user-menu {
    display: grid;
    justify-content: center;
    gap: var(--block-space);

    :is(h2) {
      margin-top: var(--block-space);
      text-align: center;
      margin: 0;
      text-decoration: normal;
      font-weight: normal;
      font-family: var(--font-mono);
    }

    :is(dl, p) {
      border: 1px solid var(--color-subtle-dark);
      border-radius: 10px;
      padding: var(--block-space);

    }

    :is(dl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--block-space);
      justify-content: center;
      align-items: center;
    }

    :is(p) {
      text-align: center;
    }

    :is(button) {
      width: 100%;
    }
  }
}
